[Unit]
Description=Helix Dark Mode daemon
# Start only after the graphical session is functional, i.e. $DISPLAY and $WAYLAND_DISPLAY
# are known to the service manager, so that xdg-desktop-portal.service knowns
# about these variables as well when it gets DBus-activated by the hook script.
After=graphical-session.target
# Also fail this unit if the graphical session doesn't start up, to make sure
# we're not accidentally spawning a partially broken portal service.
Requisite=graphical-session.target

[Service]
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
Type=dbus
BusName=de.swsnr.helix-dark-mode
ExecStart=/usr/bin/helix-dark-mode
ExecReload=kill -USR1 $MAINPID
Restart=on-failure

[Install]
WantedBy=graphical-session.target
