[Unit]
Description=Helix Dark Mode daemon

[Service]
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
Type=dbus
BusName=de.swsnr.helix-dark-mode
ExecStart=/usr/bin/helix-dark-mode
ExecReload=kill -USR1 $MAINPID
Restart=on-failure

[Install]
WantedBy=graphical-session.target
