[Unit]
Description=Helix Dark Mode daemon
# Start after XDG desktop portal, and don't even start if XDG desktop portal
# isn't started.
After=xdg-desktop-portal.service
Requisite=xdg-desktop-portal.service

[Service]
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
Type=dbus
BusName=de.swsnr.helix-dark-mode
ExecStart=/usr/bin/helix-dark-mode
ExecReload=kill -USR1 $MAINPID
Restart=on-failure

[Install]
WantedBy=graphical-session.target
